*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.idea/
app/src/androidTest/
app/src/test/
gradle/
library/src/androidTest/
library/src/main/res/drawable/
library/src/test/
libs/
src/androidTest/
src/main/res/drawable/
src/test/
